// NOTE: 
// Initialise the values of the params to the preferred default value or to false
params {
	script = "ls -la"
	gpu_mode = false
	pbrun_mode = false
	reps = 2
	outdir = 'results'
	config = 'conf/google.config'
	echo = true
	memory = '2 GB'
	cpus = 1
	errorStrategy = 'terminate'
	maxForks = 200
	containerOptions = '--gpus all'
	container = 'quay.io/lifebitai/cudaflow:10.0-cudnn7-devel'
	queueSize = 200
	machineType = 'n2-standard-4'
	executor = 'google-lifesciences'
	network = 'default'
	subnetwork = 'default'
	zone = 'us-east1-b'
	accelerator  = 'nvidia-tesla-p100'
	n_accelerators = 1
	gls_bootDiskSize = 50.GB
	gls_preemptible = true
	}

profiles {
	standard {includeConfig params.config}
}

process {
    echo = params.echo
    errorStrategy = params.errorStrategy

  withLabel: with_cpus {
    container = params.container
	cpus = params.cpus
	memory =  params.memory
  }

  withLabel: with_gpus {
	cpus = params.cpus
	memory =  params.memory
    container = params.container
	containerOptions = params.containerOptions
	accelerator = [request: params.n_accelerators, type: params.accelerator ]
	maxForks = params.maxForks
  }
  
    withLabel: pbrun_mode {
	cpus = params.cpus
	memory =  params.memory
	docker.enabled = false
	maxForks = params.maxForks
  } 
}

