google {
    lifeSciences.bootDiskSize = params.gls_bootDiskSize
    lifeSciences.preemptible = params.gls_preemptible
    zone = params.zone
    network = params.network
    subnetwork = params.subnetwork
}

executor {
  name = params.executor
}

params {
  script = params.gpu_mode ? 'nvidia-smi': 'ls -la'
}


